/* base-style */
body{
    font-family: 'Poppins', sans-serif;
}
/* head styles */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 30px;
    /* background-color: white; */
}

nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    padding-right: 30px;
}  
nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
/* nav li:hover{
    background-color: white;
    padding:0 2px;
} */
h2{
    font-size: 30px;
    /* color: black; */
}
nav>ul>li:hover>ul{
    display: block;
}

/* header end */

/* main start */
.banner{
    padding-bottom: 50px;
}
.in-container{
    display: flex;
    justify-content: space-between;
} 
.half-width{
    width: 50%;
    margin: 30px;
}
.half-width h1{
    font-size: 40px;
}
.half-width p{
font-size: 20px;
padding-bottom: 20px;
}
.batton{
    font-size: 25px;
    color: white;
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 5px;
    margin: 30px 0;
    border-radius: 10px;
}
.half-width img{
    width: 100%;
}
.animission:hover{
    transform: scale(1.3);
    transition: .3s;
}
.logos-container{
   
}
.logos{
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
    padding: 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
/* hr{
    border: 1px solid lightgray;
} */
.logo{
    margin: 0 .1em 0 .1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100%;
}
.popular-collection{
    padding-top: 70px;
}
.popular-collection h3{
    font-size: 25px;
    text-align: center;
}

/* product styl */
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 0 70px;
    margin-top: 40px;

}
.product{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.349);
    padding: 20px;
    border-radius: 5px;
    
}
/* .product .product-banner img{
    width: 300px;
    height: 200px;
} */
.fa-star.filled{
    color: goldenrod;
}
.fa-star-half-alt.empty{
    color: goldenrod;
}
.product-ratting{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.next-page{
display: flex;
justify-content: flex-end;
padding-right: 70px;
color: #E02C6D;
}
.fa-arrow-right{
    margin-left: 10px;
}
.textarea-fiels{
    height: 100px;
}

.btn{
    color: white;
    margin-top: 10px;
    padding: 10px;
    background-color: #E02C6D;
    border: none;
    border-radius: 20px;
}
.footer{
    background-color: black;
    height: 60px;
    text-align: center;
}
.footer-manu{
    color: white;
    padding: 10px;
    background-color: black;
    text-align: center;
}
.icon{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
/* responsive for tab */
@media screen and (max-width: 768px){
    .products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 0 30px;
        margin-top: 40px;
        justify-content: center;
    
    }
    /* html,body{
        overflow-x: hidden;
        max-width: 100%;
    } */ 
}

/* resposive for mobile device */

@media screen and (max-width: 440px) {
    h2{
        text-align: center;
    }
    header {
        justify-content: center;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        margin-top: 40px;
    }
    .product{
        justify-content: center;
        flex-direction: column;
    }
    .half-width{
        display: grid;
        flex-direction: column;
    }
    .in-container{
    flex-wrap: wrap;
    justify-content: center;
    }
    nav> ul{
       display: block;
    }
    /* html,body{
        overflow-x: hidden;
        max-width: 100%;
    } */ 
}